@model DatabasePagination.PaginatedList<MetaPAL.Models.SpectrumMatch> 
@{
    ViewData["Title"] = "Index";
}

<h1>Explore Spectrum Matches</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thread>
        <tr>
            <th>
                Id
            </th>
            <th>
                <a> Accession </a>
            </th>
            <th>
                <a> Full Sequence </a>
            </th>
            <th>
                <a> Spectrum Match </a>
            </th>
            <th>
                <a> Score </a>
            </th>
        </tr>
    </thread>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accession)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FullSequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                <a asp-controller="SpectrumMatches" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>