@model MetaPAL.Models.MsDataScanModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MsDataScanModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScanNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScanNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpectrumRepresentation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpectrumRepresentation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MassSpectrumType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MassSpectrumType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MsLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MsLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MassAnalyzerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MassAnalyzerType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScanPolarity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScanPolarity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScanStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScanStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScanWindowUpperLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScanWindowUpperLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScanWindowLowerLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScanWindowLowerLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilterString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilterString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIonCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalIonCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IonInjectionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IonInjectionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecursorScanNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecursorScanNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedIonMz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedIonMz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperimentalPrecursorMonoisotopicMz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperimentalPrecursorMonoisotopicMz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsolationWindowTargetMz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsolationWindowTargetMz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsolationWindowLowerOffset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsolationWindowLowerOffset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsolationWindowUpperOffset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsolationWindowUpperOffset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DissociationMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DissociationMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormalizedCollisionEnergy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormalizedCollisionEnergy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedIonChargeStateGuess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedIonChargeStateGuess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedIonIntensity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedIonIntensity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NativeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NativeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
